

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

p,h1,h2,h3,h4 {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
    font-weight: 500;
    color: currentColor;
}

ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

button {
    cursor: pointer;
}

address {
    font-style: normal;
}

.container {
    width: 100%;
    max-width: 1470px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    outline: 2px solid red;
}

.visually-hidden {
    margin: -1px;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*-----------HEADER-----------------*/

.header {
    padding-top: 24px;
    padding-bottom: 24px;
}

.header-container {
    display: flex;
    
}

.header-navigation {
    display: flex;
}

.header-menu-info {
   
}

.header-menu-page {
    color: #2e2f42;
    
}

.header-menu-page:hover,
.header-menu-page:focus {
        color: #404bbf;
    }

.header-logo {
    font-family: "Raleway", sans-serif;
    color: var(--IRIS, #4D5AE5);
    text-transform: uppercase;
        
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        /* 116.667% */
        letter-spacing: 0.03em;
}

.header-logo-color {
    
    color: var(--NAVY-BLUE, #2E2F42);
}

.header-menu {
    display: flex;
}

.header-menu-item {
    font-family: Roboto;
    color: var(--NAVY-BLUE, #2E2F42);
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        /* 150% */
        letter-spacing: 0.02em;
        margin-left: 76px;
       
        
}

.header-menu-item:hover, 
.header-menu-item:focus {
    color: #404bbf;
    
}
    

.header-address {
    font-style: normal;
    margin-left: auto;
}


.header-menu-link {
    color: var(--SLATE, #434455);
    font-family: Roboto;
        font-size: 16px;
       line-height: 1.5;
        /* 150% */
        letter-spacing: 0.02em;
        
}

.header-menu-link:hover {
color: #404bbf;
}
.header-menu-link:focus {
color: #404bbf;
}



/*-----------HERO-----------------*/

.hero {
 
}

.hero-container {
    background-color: var(--NAVY-BLUE, #2E2F42);
    padding: 188px 472px 292px 472px;
}

.hero-title {
    color: var(--WHITE, #FFF);
        text-align: center;
        /* Header 1 */
        font-size: 56px;
        font-weight: 700;
        line-height: 1.07;
        /* 107.143% */
        letter-spacing: 0.02em;
        margin-bottom: 48px;
        min-width: 496px;
}

.hero-button {
        color: var(--WHITE, #FFF);
        background-color: #4D5AE5;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-style: inherit;
        font-weight: 500;
        line-height: 1.5;
        /* 150% */
        letter-spacing: 0.04em;
        cursor: pointer;

}

.hero-button:hover,
.hero-button:focus {
    background-color: #404BBF;
}

/*--------------------------------*/

/*-----------FEATURES-----------------*/

.features {
    padding-top: 120px;
    padding-bottom: 120px;
    padding-right: 156px;
    padding-left: 156px;
}

.fetures-list {}

.features-item {}

.fetures-subtile {

    color: var(--NAVY-BLUE, #2E2F42);
        /* Header 3 */
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        /* 120% */
        letter-spacing: 0.02em;
}

.features-item-text {

    color: var(--SLATE, #434455);
        /* Body */
        font-size: 16px;
        line-height: 1.5;
        /* 150% */
        letter-spacing: 0.02em;
        max-width: 264px;
}

/*-------------------------------------*/

/*-----------OUR TEAM-----------------*/


.team {
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
}

.team-title {

    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
        /* Header 2 */
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        /* 111.111% */
        letter-spacing: 0.02em;
        text-transform: capitalize;
}

.team-list {
        
        padding-bottom: 32px;
        
        justify-content: center;
        
        
        
        background: var(--WHITE, #FFF);
        
}

.team-item {
    background-color: #FFFFFF;
    
}

.team-subtitle {

color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    /* 120% */
    letter-spacing: 0.02em;
}

.team-text {

    color: var(--SLATE, #434455);
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        /* 150% */
        letter-spacing: 0.02em;
}
/*-----------------------------------*/


/*-----------PORTFOLIO-----------------*/

.portfolio {
  
}

.portfolio-title {
    text-align: center;
    color: var(--NAVY-BLUE, #2E2F42);
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        /* 111.111% */
        letter-spacing: 0.02em;
        text-transform: capitalize;
        max-width: 218px;
        margin: 0 auto 72px;
}

.portfolio-list {}

.portfolio-item {}

.portfolio-subtitles {

    color: var(--NAVY-BLUE, #2E2F42);
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        /* 120% */
        letter-spacing: 0.02em;
}

.portfolio-text {

    color: var(--SLATE, #434455);
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        /* 150% */
        letter-spacing: 0.02em;
}
/*-----------------------------------*/

/*-----------FOOTER-----------------*/

.footer {

    background: var(--NAVY-BLUE, #2E2F42);
    width: 100%;
        max-width: 1470px;
        height: 312px;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0 auto;
}

.footer-logo {

    color: var(--IRIS, #4D5AE5);
        font-family: "Raleway", sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.17;
        /* 116.667% */
        letter-spacing: 0.03em;
        text-transform: uppercase;
        
}

.footer-logo-color {
    color: var(--CLOUD, #F4F4FD);
}

.footer-text {

    color: var(--CLOUD, #F4F4FD);

        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        /* 150% */
        letter-spacing: 0.02em;
}




1234